@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.body{
  background-color: #111827;
}

.transition-transform {
  transition-property: transform;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.transform {
  transform: translateX(0%);
}

.translate-x-0 {
  transform: translateX(0%);
}

.translate-x-full {
  transform: translateX(100%);
}

.-translate-x-full {
  transform: translateX(-100%);
}

/* styles.css */

::-webkit-scrollbar {
  width: 8px; /* Scrollbar genişliği */
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Scrollbar arka planı */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Scrollbar tutacağı */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a; /* Hover durumunda Scrollbar tutacağı */
}

